/* COMMON Context */

navbar {
    display: grid;
    grid-gap: 45px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #13547a 10%, #80d0c7 100%);
    border: 2px solid #13547a;
    border-top: 0;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    box-shadow: 6px 5px 5px #111111; 
}

navbar > div {
    margin-top: 45%;
    margin-bottom: 40%;
}

navbar img {
    width: 25px;
    height: 25px;
}

navbar img:hover {
    animation: bounce 1s;
}

a {
    width: 80px;
    padding: 12px 12px;
    border-radius: 5px;
    margin: 20% auto;
    background: #79C8C2;
    text-align: center;
    font-size: 18px;
    transition-property: background-color;
    transition-duration: 650ms;
    box-shadow: 4px 3px 2px #070707; 
}
      
a:hover {
    background-color: #468E9E;
}

.name {
    font-size: 180%;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

footer {
    margin-top: 200px;
}

footer > p {
    text-align: center;
    color: #000;
}

/* MAIN - index.html */

.main {
    background: linear-gradient(135deg, #09203f 10%, #537895 100%);
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.main .p-beathistory {
    text-align: center;
    background-image: ;
}

.main .p-beathistory h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #08D4DF;
}

.main .p-beathistory p {
    background-image: linear-gradient(135deg, #FFCF71 10%, #2376DD 100%);
    box-shadow: 6px 5px 4px #0f0f0f;  
    width: 930px;
    font-size: 17px;    
    margin: 0 auto;
    line-height: 30px;
    text-align: left;
    padding: 20px;
    border-radius: 18px;   
}

.main .p-beathistory iframe {
    margin-top: 50px;
    margin-bottom: 10px;
    box-shadow: 8px 4px 4px #0c0c0c; 
}

.main .p-beathistory img {
    margin-bottom: 50px;
    width: 420px;
    height: 200px;
    border: 6px solid #0C2443;
    border-radius: 20px;
    box-shadow: 8px 4px 4px #0a0a0a; 
}

/* BEATS */

.beats {
    background: linear-gradient(135deg, #09203f 10%, #537895 100%);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.beats .wrapper {
    display: grid;
    grid-template: repeat(7, 320px) / repeat(4, 320px);
    grid-column-gap: 55px;
    grid-row-gap: 110px;
    justify-content: center;
    text-align: center;
    margin-top: 100px;  
}

.beats .player {
    border: 3px solid #14557A;
    border-radius: 30px;
    background: red;
    margin-top: 10px;
    outline: none;
    box-shadow: 6px 5px 4px #0f0f0f; 
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
 }
 
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
 }
 
    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
 }
}

.beats .genre {
    font-size: 20px;
    color: #FFCF71;
}

.beats .genre:hover {
    color: #75C4BF;
}

.beats .wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
}

.transform{
   transition: all .5s ease-out;
}

.transform:hover{
   transform: scale(1.03);
}

/* FAQ */

.faq {
    background: linear-gradient(135deg, #09203f 10%, #537895 100%);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.faq .p-faq {
    height: 100%;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

.faq .p-faq p {
    background: linear-gradient(135deg, #FFCF71 10%, #2376DD 100%);
    box-shadow: 6px 5px 4px #0f0f0f; 
    width: 930px;
    font-size: 17px;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    line-height: 30px;
    text-align: left;
    padding: 20px;
    border-radius: 18px;
}

.faq h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #08D4DF;
}

/* ABOUT US */

.aboutus {
    background: linear-gradient(135deg, #09203f 10%, #537895 100%);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.aboutus .p-aboutus {
    height: 100%;
    width: 100%;
    margin-top: 0 auto;
    text-align: center;
}

.aboutus .p-aboutus p {
    background: linear-gradient(135deg, #FFCF71 10%, #2376DD 100%);
    box-shadow: 6px 5px 4px #0f0f0f; 
    width: 930px;
    font-size: 17px;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 30px;
    text-align: left;
    padding: 20px;
    border-radius: 18px;
}

.aboutus h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #08D4DF;
}

.aboutus .email-us {
    margin-top: auto;
}

/* LOGIN */

.login {
    background: linear-gradient(135deg, #09203f 10%, #537895 100%);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.login .hero label {
    color: #08D4DF;
}

.login .overlay {
    float: left;
    width: 50%;    
    justify-content: space-around;
    text-align: center;
}

.register:after {
    content: "";
    display: table;
    clear: both;
}

.login h2 {
    margin-top: 150px;
    margin-bottom: 40px;
    color: #08D4DF;
}

.login .login-username, .login-pw, .login-email, .login-retype-pw, .retype-pw {
    padding: 6px 5px 2px;
    margin: 8px 8px;
    width: 175px;
    border-radius: 8px;
    outline: none;
}

.login .login-submit {
    background: linear-gradient(135deg, #FFCF71 10%, #2376DD 100%);
    box-shadow: 6px 5px 4px #080808; 
    padding: 8px 72px;
    border-radius: 8px;
    outline: none;
    margin-bottom: 173px;
}














